:root {
  --color-cyan-dark: #4d96a9;
  --color-cyan-light: #8fe3f9;
  --color-purple-dark: #855fb1;
  --color-purple-light: #d9b8ff;
  --color-slate-dark: #28283d;
  --color-slate-mid: #87879d;
  --color-slate-light: #d1d1df;
  --color-white: #fafafa;
}

/* general  */

body {
  font-family: "Red Hat Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

h1,
h2 {
  color: var(--color-slate-dark);
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

p {
  color: var(--color-slate-mid);
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4;
}

.wrapper {
  padding: 0 2rem;
  margin: 0 auto;
}

.width {
  max-width: 500px;
}
/* header */

header {
  text-align: center;
}

.header__logo {
  display: block;
  margin: 4rem auto 4rem auto;
}

.header__logo:hover,
.header__logo:focus {
  cursor: pointer;
}

.header__hero {
  max-width: 433px;
  height: auto;
  margin: 0 auto 3rem auto;
  display: inline-block;
  object-fit: cover;
}

.header__hero--left,
.header__hero--right {
  display: none;
}

.header__heading--main {
  font-size: 2.7rem;
  margin: 0 auto;
}

.header__text {
  margin: 1.5rem auto;
}

/* buttons  */

.header__btn--download,
.header__btn--what {
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  width: fit-content;
  padding: 16px 40px;
  border-radius: 29px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.header__btn--download {
  background-color: var(--color-cyan-dark);
}
.header__btn--what {
  background-color: var(--color-purple-dark);
}

.header__btn--download,
.header__btn--what {
  transition: transform 0.2s;
}

.header__btn--download:focus,
.header__btn--download:hover,
.header__btn--what:hover,
.header__btn--what:focus {
  transform: scale(0.98);
  cursor: pointer;
}

.header__btn--download span {
  color: var(--color-cyan-light);
  margin-left: 4px;
}

/* meetings  */

.meetings {
  text-align: center;
}

.meetings__nmb {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 1px;
  border: 1px solid var(--color-slate-light);
  display: block;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 5rem auto;
  border-radius: 99%;
  position: relative;
}

.meetings__nmb::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: var(--color-slate-light);
  top: -100px;
}

.meetings__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 0 auto;
  justify-items: center;
}

.meetings__grid__img {
  object-fit: cover;
  border-radius: 16px;
  max-width: 256px;
  width: 100%;
}

.meetings__built {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: var(--color-cyan-dark);
  font-weight: 800;
}

.meetings__text {
  margin-bottom: 14rem;
}

/* experience  */

.exp::before {
  background-color: rgba(77, 151, 169, 0.867);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.exp {
  background-image: url("assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 1rem;
  position: relative;
  margin: 0;
}

.exp__container {
  margin: 0 auto;
}

.exp__nmb {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 1px;
  border: 1px solid var(--color-slate-light);
  display: block;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 0 auto;
  border-radius: 99%;
  position: relative;
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: -195px;
}

.exp__nmb::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: var(--color-slate-light);
  top: -100px;
}

.exp__btn--download {
  display: block;
  margin: 2rem auto 0 auto;
  color: var(--color-white);
  width: fit-content;
  padding: 16px 40px;
  border-radius: 29px;
  font-weight: 700;
  background-color: var(--color-purple-dark);
  transition: transform 0.2s;
  position: relative;
  z-index: 1;
}

.exp__btn--download:focus,
.exp__btn--download:hover {
  transform: scale(0.98);
}

.exp__btn--download span {
  color: var(--color-purple-light);
  margin-left: 4px;
}

.exp__heading,
.exp__text {
  color: white;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .exp {
    background-image: url("assets/tablet/image-footer.jpg");
  }
  .meetings__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }
}

@media (min-width: 1140px) {
  .exp {
    background-image: url("assets/desktop/image-footer.jpg");
  }

  .meetings__grid {
    display: flex;
    max-width: 1120;
    gap: 1rem;
    justify-content: center;
  }

  .meetings__grid__img {
    object-fit: cover;
    border-radius: 16px;
    max-width: 256px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .header__hero {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 9rem;
    gap: 2rem;
  }

  .header__hero--left,
  .header__hero--right {
    display: block;
  }

  .exp__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 6rem;

    .exp__btn--download,
    .exp__heading,
    .exp__text {
      margin: 0;
    }

    .exp__heading,
    .exp__text {
      padding: 0;
      text-align: start;
      display: block;
    }

    .exp__btn--download {
      margin-left: 2rem;
    }
  }

  .width {
    max-width: 100vw;
  }
}
